<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yanzi.dao.RoleMapper">

	<select id="findAllRole" resultType="com.yanzi.bean.Role">
		select * from role
	</select>
	
	<insert id="addRole" parameterType="com.yanzi.bean.Role">
		insert into role (r_id,r_name,r_describe)
		values
		(#{r_id},#{r_name},#{r_describe})
	</insert>
	
	<!-- 查询最后UI次新增的id -->
	<select id="getLastID" resultType="int">
		SELECT r_id FROM role ORDER BY r_id DESC LIMIT 1; 
	</select>
	
	<select id="findByIdRole" resultType="com.yanzi.bean.Role" parameterType="int">
		select * from role where r_id =#{r_id}
	</select>
	
	<update id="updateRole" parameterType="com.yanzi.bean.Role">
		update role set r_name=#{r_name},r_describe=#{r_describe} where r_id=#{r_id}
	</update>
	
	<delete id="delRole" parameterType="int">
		delete from role where r_id =#{r_id}
	</delete>
	
</mapper>
